<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="footer">
  <hr/>
  This is gamestudio! Developed at TUKE.
</div>

<div th:fragment="header">
    <h1>Welcome to <a href="/">Gamestudio!</a></h1>
    <span th:if="${@userController.loggedUser}">
        Logged as: <span th:text="${@userController.loggedUser.login}"/>
        <a href="/logout">Logout</a><br/>
    </span>

    <span th:if="not ${@userController.loggedUser}">
        Not logged. Please
        <a href="/">login or register</a>.<br/>
    </span>

</div>

</html>