<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Game studio</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="icon" type="image/x-icon" href="/images/icon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">
  <!--Imports a model-viewer JavaScript code -->
  <!--It helps to handle how the 3D Object would be displayed -->
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div th:replace="fragments::account"></div>
  <div th:replace="fragments::login"></div>
  <div class="f-view">
    <div th:replace="fragments::header"></div>

    <div class="fav-games-view">
      <h1 class="games-that-inspire">Games that <br>inspire</h1>
      <div class="fav-games-list-container">
        <ul class="fav-games-list">
          <li>
            <a href="/slitherlink">Slither Link</a>
          </li>
          <li>
            <a href="">Minesweeper</a>
          </li>
          <li>
            <a href="">Bejeweled</a>
          </li>
          <li>
            <a href="">Connect four</a>
          </li>
          <li>
            <a href="">Pexeso</a>
          </li>
          <li>
            <a href="">NumberLink</a>
          </li>
          <li>
            <a href="">Lights Off</a>
          </li>
          <li>
            <a href="">Dots</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div th:replace="fragments::footer"></div>
  <script th:inline="javascript" src="/sandbox.js"></script>
  <script th:inline="javascript" src="/sandboxAnimation1.js"></script>
</body>
</html>